.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: column;

	height: 100px;
	width: 140px;
	margin: 20px 35px 20px 0;
}

.input {
	flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
}

.lock_button {
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;

	-webkit-order: 1;
	order: 1;
}
